    <% layout('layout/boilerplate')%>
    <h2 class="text-center">Mess near bsmrstu campus</h2>
    <div class="container-fluid">
      <div class="row">
        <% for(let proprietor of proprietors ){ %>
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-5">
                <img
                  class="card-img"
                  src="<%= proprietor.image %>"
                  alt="building-img"
                />
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <h5 class="card-title">
                    Title: <%= proprietor.buildingName %>
                  </h5>
                  <ul>
                    <li>Building Type: <%= proprietor.buildingType %></li>
                    <li>
                      Seat Availability: <%= proprietor.seatAvailability %>
                    </li>
                    <li>Only For: <%= proprietor.onlyFor %></li>
                    <li>Contact: <%= proprietor.contact %></li>
                  </ul>
                  <a href="" class="btn btn-primary">Show Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>