<% layout('layout/boilerplate')%>
<div class="container my-3">
    <h2 class="display-4 text-center">Edit mess</h2>
    <div class="row justify-content-center">
        <div class="col-7">
            <form action="/mess/<%= proprietor._id %>?_method=PUT" method="POST" novalidate
              class="form-validation">
                <div class="form-gorup my-3">
                    <label for="name">Building Name</label>
                    <input id="name" type="text" name="mess[buildingName]" class="form-control" placeholder="Building name" value="<%= proprietor.buildingName %>" required>
                </div>
                <div class="form-group my-3">
                    <label>Select building type</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="mess[buildingType]" id="radio-mess" value="Mess" <%= proprietor.buildingType == 'Mess' ? 'checked': ''%>>
                        <label class="form-check-label" for="radio-mess">Mess</label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="mess[buildingType]" id="radio-flat" value="Flat" <%= proprietor.buildingType == 'Flat' ? 'checked': ''%>>
                    <label class="form-check-label" for="radio-flat">
                        Flat
                    </label>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="seatAvailability">Seat Availability</label>
                    <input type="number" name="mess[seatAvailability]" class="form-control" min="0" max="40" value="<%= proprietor.seatAvailability%>" required>
                </div>
                <div class="form-group my-3">
                    <label>Only For</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="mess[onlyFor]" id="radio-male" value="Male" <%= proprietor.onlyFor === 'Male'? 'checked': ''%>>
                        <label class="form-check-label" for="radio-male">Male</label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="radio" name="mess[onlyFor]" id="radio-female" value="Female" <%= proprietor.onlyFor === 'Female'? 'checked': ''%>>
                    <label class="form-check-label" for="radio-female">
                        Female
                    </label>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="contact">Contact Number</label>
                    <input class="form-control" type="text" name="mess[contact]" id="contact" maxlength="11" minlength="11" value="<%= proprietor.contact%>" required>
                </div>
                <div class="form-group my-3">
                    <label for="img">Image URL</label>
                    <input class="form-control" name="mess[image]" type="text" value="<%= proprietor.image%>" required>
                </div>
                <div class="form-group my-3">
                    <label for="description">Description</label>
                    <textarea name="mess[description]" id="description" cols="15" rows="5" class="form-control" required><%= proprietor.description%></textarea>
                </div>
                <button class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>