<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Mess</title>
    <style>
      img {
        height: 350px;
        width: 350px;
        object-fit: cover;
      }
      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      .container div {
        margin-right: 5px;
        border: 2px solid gray;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <% for(let proprietor of proprietors){ %>
      <div>
        <img src="<%= proprietor.image %> " alt="mess-building-image" />
        <ul>
          <li>building-Name : <%= proprietor.buildingName %></li>
          <li>building-Type : <%= proprietor.buildingType %></li>
          <li>Available-Seat : <%= proprietor.seatAvailability %></li>
          <li>Only-For : <%= proprietor.onlyFor %></li>
          <li>Contact : <%= proprietor.contact %></li>
        </ul>
      </div>
      <% } %>
    </div>
  </body>
</html>
